@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixing variables */
$lightGray: #999;
$grayLight: #fff;
$grayMediumLight: #eaeaea;
$gray: #555;
 $grayDarker: #222;


/* header */

#logo {
  float: left;
  margin: 0 10px 0 0;
  font-size: 1.7em;
  color: $grayLight;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $grayLight;
    text-decoration: none;
  }
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding: 60px 0 0 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin: 0 0 10px 0;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin: 0 0 30px 0;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin:0 0 30px 0;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/*Footer CSS*/
footer {
  margin: 45px 0 0 0;
  padding: 5px 0 0 0;
  border-top: 1px solid $grayMediumLight;
  color: $lightGray;
  a {
    color: $gray;
  }
  a:hover {
    color: $grayDarker;
  }
  small {
    float: left;
  }
}
ul {
  float: right;
  list-style: none;
  li {
    float: left;
    margin:0 0 0 10px;
  }
}
/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
