<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Static page Created</a>
    by Vaibhav Patole
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
